@using Carservice.Models.Repair;
@model IEnumerable<RepairRequestViewModel>

@{

}

<head>
	<title>Автосервис</title>
	<!--slider revolution-->
	<link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />
	<!--style-->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700,800&amp;subset=latin,latin-ext" rel="stylesheet"  type="text/css">
	<link rel="stylesheet" type="text/css" href="~/style/reset.css">
	<link rel="stylesheet" type="text/css" href="~/style/superfish.css">
	<link rel="stylesheet" type="text/css" href="~/style/prettyPhoto.css">
	<link rel="stylesheet" type="text/css" href="~/style/jquery.qtip.css">
	<link rel="stylesheet" type="text/css" href="~/style/style.css">
	<link rel="stylesheet" type="text/css" href="~/style/animations.css">
	<link rel="stylesheet" type="text/css" href="~/style/responsive.css">
	<link rel="stylesheet" type="text/css" href="~/style/odometer-theme-default.css">
	<!--fonts-->
	<link rel="stylesheet" type="text/css" href="~/fonts/streamline-small/style.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/template/styles.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/social/styles.css">
	<link rel="shortcut icon" href="~/images/favicon.ico">
</head>

<body>

	<div class="header-top-bar-container clearfix">
		<div class="header-top-bar">
			<ul class="contact-details clearfix">
				<li class="template-phone">
					+7(86394-111-11)
				</li>
				<li class="template-mail">
					<a href="mailto:carservice@mail.com">carservice@mail.com</a>
				</li>
				<li class="template-clock">
					Пн - Пт: 8:00 - 17:30
				</li>
			</ul>
			<div class="search-container">
				<a class="template-search" href="#"></a>
				<form class="search" action="search.html">
					<input type="text" name="s" placeholder="Поиск..." value="Поиск..." class="search-input hint">
					<fieldset class="search-submit-container">
						<span class="template-search"></span>
						<input type="submit" class="search-submit" value="">
					</fieldset>
				</form>
			</div>
		</div>
		<a href="#" class="header-toggle template-arrow-up"></a>
	</div>
	<div class="header-container">
		<div class="vertical-align-table column-1-1">
			<div class="header clearfix">
				<div class="logo vertical-align-cell">
					<h1><a href="#">Автосервис</a></h1>
				</div>
				<a href="#" class="mobile-menu-switch vertical-align-cell">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</a>
				<div class="menu-container clearfix vertical-align-cell">
					<nav>
						<ul class="sf-menu">
							<li>
								<a asp-controller="Home" asp-action="Index">
									Главная
								</a>
							</li>
							<li>
								<a asp-controller="Home" asp-action="Services" >
									Услуги
								</a>
								<ul>
									<li>
										<a href="#">
											Диагностика двигателя
										</a>
									</li>
									<li>
										<a href="#">
											Смазки, масла, фильтры
										</a>
									</li>
									<li>
										<a href="#" >
											Ремни и шланги
										</a>
									</li>
									<li>
										<a href="#">
											Ремонт кондиционера
										</a>
									</li>
									<li>
										<a href="#" >
											Ремонт тормозов
										</a>
									</li>
									<li>
										<a href="#" >
											Колёса и шины
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a asp-controller="Home" asp-action="RepairRequest">
									Заявка на ремонт
								</a>
							</li>
							<li>
								<a asp-controller="Home" asp-action="Reviews">
									Отзывы
								</a>
							</li>
							@if (User.IsInRole("Manager"))
							{
									<li>
										<a asp-controller="ManagerPanel" asp-action="Index">
											Панель управления
										</a>
									</li>
							}
							@if (User.IsInRole("User"))
							{
									<li class="selected">
										<a asp-controller="UserPanel" asp-action="Requests">
											Мои заявки
										</a>
									</li>
							}
							@if (User.Identity.IsAuthenticated)
							{
									<li class="left-flyout">
										<a asp-controller="Auth" asp-action="Logout">
											Выйти
										</a>
									</li>
							}
							else
							{
									<li class="left-flyout">
										<a asp-controller="Auth" asp-action="Login">
											Вход
										</a>
									</li>
							}
							<li class="left-flyout">
								<a asp-controller="Auth" asp-action="Register">
									Регистрация
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		</div>
	<div class="site-container">
		<div class="theme-page padding-bottom-66">
			<div class="clearfix">
				<div class="row page-margin-top-section">
					<div class="row">
						<h2 class="box-header">МОИ ЗАЯВКИ</h2>
					</div>	
					<div style="padding-top:40px">
						<ul class="list">
							@foreach (var request in Model)
							{
								<li style="font-size: 18px; padding:15px">
									Заявка от @request.Date; Статус заявки: @request.RequestStatus <br>
									
									Марка авто: @request.CarBrand; <br />
									Выбранные услуги: Не выбрано; <br />
									Текст заявки: @request.RequestText; <br />
									<br />
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row dark-gray footer-row full-width padding-top-30 padding-bottom-50">
			<div class="row row-4-4 top-border page-padding-top">
				<div class="column column-1-4">
					<h6 class="box-header">О НАС</h6>
					<ul class="list simple margin-top-20">
						<li>Ростов, Россия (86394)</li>
						<li>Ул. Заводская 165/3</li>
						<li><span>Контактный номер:</span>+7(86394-111-11)</li>
						<li><span>E-mail:</span><a href="mailto:carservice@mail.com">carservice@mail.com</a></li>
					</ul>
					<ul class="social-icons gray margin-top-26">
						<li>
							<a target="_blank" href="#" class="social-facebook" title="facebook"></a>
						</li>
						<li>
							<a target="_blank" href="#" class="social-twitter" title="twitter"></a>
						</li>
						<li>
							<a target="_blank" href="#" class="social-linkedin" title="linkedin"></a>
						</li>
						<li>
							<a href="#" class="social-pinterest" title="pinterest"></a>
						</li>
					</ul>
				</div>
				<div class="column column-1-4">
					<h6 class="box-header">ЧАСЫ РАБОТЫ</h6>
					<ul class="list simple margin-top-20">
						<li><span>Понедельник:</span>8:00 - 17:30</li>
						<li><span>Вторник:</span>8:00 - 17:30</li>
						<li><span>Среда:</span>8:00 - 17:30</li>
						<li><span>Четверг:</span>9:00 - 18:30</li>
						<li><span>Пятница:</span>9:00 - 18:30</li>
						<li><span>Суббота:</span>8:00 - 17:00</li>
						<li><span>Воскресенье:</span>Выходной</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
